<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AutenticaLogin</servlet-name>
        <servlet-class>br.javaweb.web.AutenticaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaInstrumentos</servlet-name>
        <servlet-class>br.javaweb.web.ListaInstrumentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>br.javaweb.web.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoUsuario</servlet-name>
        <servlet-class>br.javaweb.web.NovoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirNoCarrinho</servlet-name>
        <servlet-class>br.javaweb.web.IncluirNoCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarPedido</servlet-name>
        <servlet-class>br.javaweb.web.FinalizarPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutenticaLogin</servlet-name>
        <url-pattern>/AutenticaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaInstrumentos</servlet-name>
        <url-pattern>/ListaInstrumentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoUsuario</servlet-name>
        <url-pattern>/NovoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirNoCarrinho</servlet-name>
        <url-pattern>/IncluirNoCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarPedido</servlet-name>
        <url-pattern>/FinalizarPedido</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            4
        </session-timeout>
    </session-config>
    <dependency>
        <groupId>javax.servlet</groupId>
        <artifactId>jstl</artifactId>
        <version>1.2</version>
    </dependency>
</web-app>
